<div id="results-carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {{#each results}}
      <li data-target="#results-carousel"></li>
    {{/each}}
  </ol>

</div>
