{{!-- Header/Navbar --}}
<header>
  <nav class="navbar navbar-light bg-light container" style="text-align: center">
    <a class="navbar-brand align-content-center" style="float: none;" href="/"><h1>Project Best Breed</h1></a>
  </nav>
</header>

{{> preferencesForm}}

{{#if results}}
<div class="container-fluid">
{{> resultsSection}}
</div>
{{/if}}
